

td{border:solid #add9c0; border-width:0px 1px 1px 0px; padding:10px 0px;}
th{border:solid #add9c0; border-width:0px 1px 1px 0px; padding:10px 0px;}
table{border:solid #add9c0; border-width:1px 0px 0px 1px;}

h3{
	font-family:”黑体”;
	color:green;
	font-style:italic;
}